body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 20px; 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--red); 
    transition: all 1s!important;
}

:root {
  --first-color : #fff;
  --sec-color : #FFF982;
  --green : #D4ECB0;
  --blue : #A8D9E5;
  --red : #E5A8A8;
  --color-txt : #000;
}

.container {
  width: 100%;
  height: 100vh;
}

a{
  text-decoration: none;
  color: var(--color-txt);
}

/****FIRST PAGE****/


.main-container {
  background: var(--first-color);
  text-align: center;
  align-items: center;
  /*animation: launch-backgorund 3s;
  animation-fill-mode: forwards;*/
}

@keyframes launch-backgorund{
  from {background: var(--first-color);}
  to {background: var(--sec-color);}
}

.main-container .point {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--color-txt);
  left: calc(50vw - 25px);
  position: relative;
  animation: launcher 2.5s ;
  animation-fill-mode: forwards;
  z-index: 2;

}

@keyframes launcher {
  0% {top: 0px;}
  10% {top: 90vh; left: calc(50vw - 25px);;}
  20% {top: 20vh;left: 0px;}
  30% {top: 20vh;left: 90vw;}
  40% {top: 90vh;left: calc(50vw - 25px);}
  50% {top: 40vh;left: 0px;}
  80% {top: 40vh;left: calc(20vw - 25px);width: 50px;height: 50px;}
  90% {width: 20px;height: 20px;}
  98% {top: 40vh;left: calc(20vw - 25px);width: 20px;height: 20px; }
  100% {top: 40vh;left: calc(20vw - 25px);width: 20px;height: 20px; }
}

.main-container .name {
  width: 40%;
  height: 100px;
  color: var(--color-txt);
  text-align: center;
  font-size: 400%;
  left : 9%;
  top: 40vh;
  position: relative;
  animation: launcher-name 2.5s ;
  animation-fill-mode: forwards;
  z-index: 2;
}

@keyframes launcher-name {
  from {left: -40%}
  to {left: 9%;}
}


.main-container .containers-btns {
  padding: 20px;
}

.main-container .containers-btns .btn-scroll {
  width: 150px;
  height: 150px;
  color: var(--color-txt);
  font-size: 150%;
  border-radius: 20%;
  left : calc(80vw - 200px);
  position: relative;
  transform: rotate(45deg);
  transition-duration: 0.5s;
  cursor: pointer;
}


.main-container .containers-btns .btn-scroll:hover {
  /*transform: rotate(calc(360deg + 45deg));*/
  width: 170px;
  height: 170px;
  font-size: 150%;
  box-shadow: 9px 9px 16px #808080,-9px -9px 16px #ffffff;
}

.main-container .containers-btns .btn-scroll .txt {
  transform: rotate(-45deg);
  position: relative;
  top: 37%;
  left: 0;
  text-align: center;
  font-size: 130%;
}

.main-container .containers-btns .btn-scroll.btn-projetcts {
  background: var(--green);  
  animation: launcher-btn1 2.5s ;
  animation-fill-mode: forwards;
  position: relative;;
}

.main-container .containers-btns .btn-scroll.btn-trainings {
  background: var(--blue); 
  animation: launcher-btn2 2.5s ;
  animation-fill-mode: forwards;
}

.main-container .containers-btns .btn-scroll.btn-intership {
  background: var(--red);
  animation: launcher-btn1 2.5s ;
  animation-fill-mode: forwards;
}

@keyframes launcher-btn1 {
  from {
    left : 120vw;
  }
  to {
    left: calc(80vw - 200px);
  }
}

@keyframes launcher-btn2 {
  from {
    left : 150vw;
  }
  to {
    left: 55%;
  }
}

.main-container .half-cercle {
  width: 80vh;
  height: 80vh;
  background: var(--sec-color);
  position: absolute;
  border-radius: 50%;
  animation: launch-cercle 3.5s ;
  animation-fill-mode: forwards;
  z-index: 1;
  position: fixed;
}

@keyframes launch-cercle {
  0% {
    top: -80vh;
    left: -80vh;
  }
  60% {
    top: -80vh;
    left: -80vh;
  }
  100% {
    top: -20vh;
    left: -20vh;
  }
}

/****SECONDE PAGE****/

.container-web {
  background: var(--first-color);
  z-index: 2;
  position: relative;
}

.container-web .image {
  width: 45vw;
  height: 45vh;
  left: 30px;
  top: 20px;
  position: absolute;
  object-fit: cover;
  cursor: pointer;
  transition-duration: 1s;
  border-radius: 10px;
}

.container-web .image:hover {
  box-shadow: 9px 9px 16px #808080,-9px -9px 16px #ffffff;
}

.container-web .image.img2 {
  left: 50vw;
  top: 50vh;
}

.container-web .txt , .container-web .link{
  width: 50vw;
  font-size: 400%;
  text-align: center;
  left: 50vw;
  top: 20vh;
  position: absolute;
}

.container-web .link {
  left: 0;
  top: 50vh;
}

/****THIRD PAGE****/
.container-mactor {
  background: transparent;
}

#mactor2 {
  object-fit: contain;  
  animation: movement 5s infinite;
}
#mactor2:hover {
  box-shadow: none; 
}

@keyframes movement {
  0% {
    top: 50vh;
  }
  50%{
    top: 45vh;
  }
  100%{
    top: 50vh;
  }
}



/***********PHONE************/
@media screen and (max-width : 1000px) {
  .half-cercle{display: none;}
  .main-container .name {font-size: 300%;}
  @keyframes launcher-name {from {left: -40%}to {left: 0;}}
  /***SECONDE PAGE****/
  .container-web .txt , .container-web .link{font-size: 200%;}
  .container-web .image {left: 10px;}
  /***THIRD PAGE***/
  #mactor2 {object-fit: cover; }
}